<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width" initial-scale="1" shrink-to-fit="no" user-scalable="no">
  <title>{% block title %}{% endblock %}</title> 
  
  <!-- Styles -->
  <link rel="stylesheet" href="{{url_for('static', filename='globals.css')}}">

  <!-- Additional Scripts -->
  {% block scripts %}
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="{{url_for('static', filename='loading.js')}}"></script>
  {% endblock %}

</head>

<body class='bg-light'>

  
  <main class="p-2">
  <h1>Homepage</h1>

  <div class="flex">
    <button id="start" class="h-12 w-24 bg-green-500 rounded-md text-white" onclick="start()">
      start
    </button>
  </div>

  <p id="new_process">None</p>

  <div id="progress_bar" class="bg-blue-500 h-6 w-64 text-white mt-6 text-center">
    0%
  </div>

  </main>

  <script>
    let thread_id

    function start(){
      fetch('/start', {
          method: 'get'
      }).then((response) => {
        return response.json()
      }).then(data => {

        new_process.innerText = "new thread created:" + data.thread_id



        thread_id = data.thread_id
        update_progress_bar()

      }).catch((err) => {
        console.log("Error:"+ err)
      })
    }

      
    function update_progress_bar() {
      let x = thread_id
      $.get(`progress/${x}`, function(data) {
          if (data < 100) {
              console.log(data)
              progress_bar.innerText = data + "%"
              setTimeout(update_progress_bar, 100)
            }
            else {
            progress_bar.innerText = "complete"
            window.location = `/progress/${x}`
          }
      })
    }
  </script>

</body>
</html>
