<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width" initial-scale="1" shrink-to-fit="no" user-scalable="no">
  <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='favicon.ico')}}">
  <title>{% block title %}{% endblock %}</title> 
  
  <!-- Styles -->
  <link rel="stylesheet" href="{{url_for('static', filename='globals.css')}}">

  <!-- Additional Scripts -->
  {% block scripts %}
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="{{url_for('static', filename='loading.js')}}"></script>
  {% endblock %}

</head>

<body class='bg-light'>

  
  <main class="p-2">
  <h1>Homepage</h1>

  <button class="h-12 w-24 bg-orange-500 rounded-md text-white" onclick="handleSubmit(event)">
    Post
  </button>

  </main>

</body>
</html>
