<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width" initial-scale="1" shrink-to-fit="no" user-scalable="no">
  <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='favicon.ico')}}">
  <title>{% block title %}{% endblock %}</title> 
  
  <!-- Styles -->
  <link rel="stylesheet" href="{{url_for('static', filename='globals.css')}}">

  <!-- Additional Scripts -->
  {% block scripts %}
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="{{url_for('static', filename='loading.js')}}"></script>
  {% endblock %}

</head>

<body class='bg-light'>

  
  <main class="p-2">
  <h1>Homepage</h1>

  <div class="flex">
    <button class="h-12 w-24 bg-orange-500 rounded-md text-white" onclick="worker()">
      Worker
    </button>
    
    <button class="h-12 w-24 bg-blue-500 rounded-md text-white" onclick="redirect()">
      redirect to {{thread_id}}
    </button>
  </div>

  <div id="progress_bar" class="bg-blue-500 h-6 w-64 text-white mt-6">
    0%
  </div>

  </main>

  <script>
    function redirect() {
      window.location = `/progress/{{thread_id}}`
    }
      
      function worker() {
        let task_id = "{{thread_id}}"
        console.log("asdf")
          $.get('progress/' + task_id, function(data) {
            console.log(data)
              if (data < 100) {
                  progress_bar.innerText = data

                  setTimeout(worker, 1000)
              }
          })
}
  </script>

</body>
</html>
